@import './footer';
.experience{
    min-height: 80vh;
}

.e{
    width: 350px;
    height: 130px;
    border-radius: 1rem;
    
}
.title_xp{
    
    
    margin-bottom: 4rem;
    width: 100%;
    h2{
        font-weight: bold;
        color: rgb(65, 65, 65);
        width: 100px;  
          
    }
}